<h2>Login</h2>
<form action="/Account/Login" method="post">
    <label for="userName">用户名：</label>
    <input id="userName" name="userName" />
    <label for="password">密码：</label>
    <input id="password" name="password" />
    <input type="submit" value="提交" />
</form>
